---
import type { Project } from "@/types";
import type { HTMLTag, Polymorphic } from "astro/types";

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & {
	project: Project;
};

const { project, as: Tag = "div" } = Astro.props;
---

<Tag>
	<a
		target="_blank"
		rel="noopener noreferrer"
		class="cactus-link inline-block text-base"
		href={project.links.demo || project.links.github}
	>
		{project.title}
	</a>
</Tag>
<q class="line-clamp-3 block">{project.description}</q>
<div>
	{
		project.technologies.map((tech: string, i: number) => (
			<span class="mb-0 mr-1 inline-block rounded-full px-0.5 py-0 font-mono text-xs text-accent">
				{tech}
				{i !== project.technologies.length - 1 && "•"}
			</span>
		))
	}
</div>
