@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		color-scheme: light;
		/* https://tailwindcss.com/docs/customizing-colors#using-css-variables */
		--theme-bg: 0deg 0% 98%;
		--theme-link: 172deg 50% 40%;
		--theme-text: 210deg 10% 20%;
		--theme-accent: 172deg 40% 30%;
		--theme-accent-2: 0deg 0% 7%;
		--theme-quote: 172deg 50% 35%;
		--theme-logo-border: 0deg 0% 98%;
		--theme-logo-border-hover: 172deg 70% 27%;
	}

	:root.dark {
		color-scheme: dark;
		--theme-bg: 210deg 6% 12%;
		--theme-link: 172deg 50% 40%;
		--theme-text: 220deg 3% 79%;
		--theme-accent: 159deg 64% 45%;
		--theme-accent-2: 0deg 0% 93%;
		--theme-quote: 159deg 55% 55%;
		--theme-logo-border: 210deg 6% 12%;
		--theme-logo-border-hover: 186deg 94% 82%;
	}

	html {
		@apply scroll-smooth;
	}

	html body {
		/* @apply mx-auto flex min-h-screen max-w-3xl flex-col bg-bgColor px-8 pt-16 font-mono text-sm font-normal text-textColor antialiased; */
		@apply mx-auto flex min-h-screen max-w-3xl flex-col bg-bgColor px-8 pt-16 font-custom text-sm font-normal text-textColor antialiased selection:bg-link;
	}

	p,
	q {
		/* @apply text-base leading-[1.75rem] sm:text-sm sm:leading-[1.75rem]; */
		@apply text-[0.95rem] leading-[1.75rem] sm:text-[0.95rem] sm:leading-[1.75rem];
	}

	ul,
	li {
		/* @apply text-base leading-[1.5rem] sm:text-sm sm:leading-[1.5rem]; */
		@apply text-[0.95rem] leading-[1.5rem] sm:text-[0.95rem] sm:leading-[1.5rem];
	}
}
