---
import PageLayout from "@/layouts/Base";
import CatNotFound from "../components/CatNotFound";

const meta = {
	title: "Oops! You found a missing page!",
	description: "Oops! It looks like this page is lost in space!",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-9">404: Page Not Found</h1>
	<p class="mb-8">
		Oh no! It looks like this page is missing. Please double-check the URL or navigate back to the
		homepage using the links provided above. In the meantime, here's a cute cat to keep you company
		as you figure out your next steps.
	</p>
	<div class="my-4 grid justify-center">
		<CatNotFound client:load />
	</div>
</PageLayout>
