---
// import { Image } from "astro:assets";

import SocialList from "@/components/SocialList";
import PageLayout from "@/layouts/Base";
// import aboutImg from "@/assets/about-astro.png";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro.build",
};
---

<PageLayout meta={meta}>
	<section class="space-y-6">
		<h1 class="title">About</h1>
		<p class="mb-4">
			Welcome to my space! As a software engineer with three years of
			<a rel="noopener noreferrer" class="cactus-link inline-block" href="/experiences"
				>work experience</a
			>, I returned to school to pursue an M.S. in Computer Science with a concentration on systems
			at the University of Texas at Dallas (May '24). I am passionate about building scalable and
			reliable backend systems and have a keen interest in distributed systems and cloud computing.
		</p>
		<p class="mb-4">
			I am driven by the right amount of challenge and have a continuous appetite for growth.
			Currently, I am seeking a Software Engineer position, where I can contribute to businesses
			aiming to scale from 0 to 1. Additionally, I am adept at adding value to existing products by
			adopting a customer-centric approach, one of my most significant strengths.
		</p>
		<div>
			<p>Technical Expertise:</p>
			<ul class="list-inside list-disc">
				<li>Languages: Java, Python, TypeScript, JavaScript, SQL, C/C++, Bash</li>
				<li>Backend: Spring Framework, Node.js, Express, JUnit, TestNG, OAuth2, JWT</li>
				<li>Databases: PostgreSQL, MongoDB, Oracle SQL, MySQL, Cassandra, Cloud Firestore</li>
				<li>DevOps: Docker, GitHub Actions, Jenkins, CI/CD Practices, Prometheus, Grafana</li>
				<li>Cloud Platforms: Google Cloud Platform (GCP), Amazon Web Services (AWS)</li>
				<li>Frontend: NextJS, React, Redux Toolkit, Emotion CSS, Tailwind CSS, Jest, Vitest</li>
			</ul>
		</div>
		<p class="mb-4">
			Feel free to drop me a message if you want to chat about the latest in tech, brainstorm
			opportunities, or simply share some cool pet pics. I'm all about building new professional
			relationships and seeing where our conversations take us. Let's connect!
		</p>
		<SocialList />

		<!-- <p class="mb-4">
			Welcome to my space! I'm a passionate Full Stack Software Engineer and a current Master of
			Science in Computer Science candidate at UT Dallas, set to graduate in May 2024. My
			professional journey includes a fulfilling three-year tenure at Oracle Finance and a dynamic
			summer internship at Resi Media in 2023, where I honed my skills in backend systems.
		</p>
		<p class="mb-4">
			My expertise lies in full-stack development with a keen focus on backend technologies. Over my
			career, I've amassed over three years of hands-on experience, contributing to innovative
			projects and solutions. I'm always excited about the endless possibilities in technology and
			how they can be leveraged to solve real-world problems.
		</p>
		<p class="mb-4">
			If you're new here, I invite you to explore my blog for insights into my professional
			experiences and thoughts on the latest in tech. Also, take a moment to peruse my projects and
			resume to get a deeper understanding of my work and skills.
		</p>
		<SocialList /> -->

		<!-- <div class="flex justify-center">
			<Image
				src={aboutImg}
				alt="A cartoon cactus looking at the 'Astro.build' logo"
				loading="eager"
				fetchpriority="high"
			/>
		</div> -->
		<!-- <p>Here are my some of my awesome built in features:</p>
		<ul class="list-inside list-disc">
			<li>I'm ultra fast as I'm a static site</li>
			<li>I'm fully responsive</li>
			<li>I come with a light and dark mode</li>
			<li>I'm easy to customise and add additional content</li>
			<li>I have Tailwind CSS styling</li>
			<li>Shiki code syntax highlighting</li>
			<li>Satori for auto generating OG images for blog posts</li>
		</ul> -->
	</section>
</PageLayout>
