---
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import FeaturedProjects from "@/components/project/FeaturedProjects";
// import FeaturedProjects from "../components/project/FeaturedProjectsCSR";
import SocialList from "@/components/SocialList";
import { getAllPosts, sortMDByDate } from "@/utils";
import { Icon } from "astro-icon/components";
import { projects } from "@/site-config";

const featuredProjects = projects.filter((project) => project.isFeatured && !project.isDisabled);

const MAX_POSTS = 3;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section aria-label="Landing page intro" class="space-y-8" data-pagefind-body>
		<h1 class="title text-4xl">I am Justine George.</h1>
		<p class="font-semibold">
			Adaptive and detail-oriented backend software engineer with a passion for building scalable
			and reliable backend systems, particularly in distributed systems and cloud computing.
		</p>
		<p>
			For three years, I worked as a <span class="font-semibold"
				>full-stack software development engineer</span
			> at <span class="font-semibold">Oracle</span>, contributing to key projects that enhanced
			global banking services. During my Master's program, I joined <span class="font-semibold"
				>Resi Media</span
			> as a <span class="font-semibold">backend software engineer grad intern</span>, specializing
			in backend improvements and system optimizations, further expanding my expertise in scalable
			and reliable systems.

			<!-- Transitioning to <span class="font-semibold">Resi Media</span> as a <span
				class="font-semibold">backend software engineer grad intern</span
			>, I specialized in backend improvements and system optimizations, further expanding my
			expertise in scalable and reliable systems. -->
		</p>
		<p>
			I hold a <span class="font-semibold">Master's degree in Computer Science</span> from <span
				class="font-semibold">UT Dallas</span
			>. I am skilled in <span class="font-semibold">Java</span>, <span class="font-semibold"
				>Python</span
			>, <span class="font-semibold">Go</span>, <span class="font-semibold">TypeScript</span>, <span
				class="font-semibold">SQL</span
			>, <span class="font-semibold">RESTful API development</span>, <span class="font-semibold"
				>microservices architecture</span
			>, and <span class="font-semibold">AWS cloud services</span>. My experience includes
			developing server-side logic, managing databases, and building scalable systems. I have a
			strong foundation in algorithms, data structures, and software design.
		</p>
		<p>
			Outside of my professional life, I have a deep appreciation for indie PC games, exploring
			innovative storytelling and gameplay that push creative boundaries. I also love street and
			landscape photography.
		</p>
		<SocialList />
	</section>
	<section aria-label="Projects list" class="mt-12 space-y-8">
		<h2 id="featured-projects" class="title text-xl">Featured Projects</h2>
		<FeaturedProjects projects={featuredProjects} />
		<p>
			<a
				href="/projects"
				aria-label="View all projects"
				class="group sm:hover:text-accent"
				data-astro-prefetch
			>
				<span>View All Projects</span>
				<Icon
					class="ms-0.5 inline-block h-4 w-4 -translate-y-[0.05rem] transition-transform group-hover:translate-x-1.5 sm:group-hover:text-accent"
					name="ri:arrow-right-line"
					aria-hidden="true"
					focusable="false"
				/>
			</a>
		</p>
	</section>

	<section aria-label="Blog post list" class="mt-12 space-y-8">
		<h2 class="title text-xl">Most Recent Posts</h2>
		<ul class="space-y-4 sm:space-y-6">
			{
				allPostsByDate.map((p) => (
					<li class="group flex flex-col gap-2">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
		<p>
			<a
				href="/posts"
				aria-label="View all blog posts"
				class="group sm:hover:text-accent"
				data-astro-prefetch
			>
				<span>Read All Posts</span>
				<Icon
					class="ms-0.5 inline-block h-4 w-4 -translate-y-[0.05rem] transition-transform group-hover:translate-x-1.5 sm:group-hover:text-accent"
					name="ri:arrow-right-line"
					aria-hidden="true"
					focusable="false"
				/>
			</a>
		</p>
	</section>
	<!-- <section class="mt-16">
		<h2 class="mb-4 text-xl title">Technologies</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				otherProjects.map(({ links, title, description }) => (
					<li>
						<a
							href={links.demo || links.github}
							target="_blank"
							rel="noopener noreferrer"
							class="inline-block cactus-link"
						>
							{title}
						</a>
						:<p class="inline-block sm:mt-2">{description.slice(0, 10)}</p>
					</li>
				))
			}
		</ul>
	</section> -->
</PageLayout>
