---
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import FeaturedProjects from "@/components/project/FeaturedProjects";
// import FeaturedProjects from "../components/project/FeaturedProjectsCSR";
import SocialList from "@/components/SocialList";
import { getAllPosts, sortMDByDate } from "@/utils";
import { Icon } from "astro-icon/components";
import { projects } from "@/site-config";

const featuredProjects = projects.filter((project) => project.isFeatured && !project.isDisabled);

const MAX_POSTS = 3;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section aria-label="Landing page intro" class="space-y-8" data-pagefind-body>
		<h1 class="title text-4xl">I am Justine George.</h1>
		<p class="font-semibold">
			An adaptive and detail-oriented software engineer with a Master's degree in Computer Science
			from UT Dallas and over 3 years of professional experience.
		</p>
		<p>
			I specialize in developing and optimizing scalable backend systems using Java, Python, Go, and
			TypeScript. My expertise includes building robust RESTful APIs, microservices architectures,
			and full-stack applications, all with a strong focus on performance and security. I have also
			deployed and managed distributed systems using AWS and GCP cloud services.
		</p>
		<p>
			My professional experience includes working as a full-stack software development engineer at
			Oracle, where I contributed to key projects enhancing global banking services, and as a
			backend software engineer intern at Resi Media, where I focused on backend improvements and
			system optimizations.
		</p>
		<p>
			I am eager to tackle complex challenges and contribute to impactful projects in backend or
			full-stack roles. Outside of work, I enjoy exploring indie PC games and capturing street and
			landscape photography.
		</p>
		<SocialList />
	</section>
	<section aria-label="Projects list" class="mt-12 space-y-8">
		<h2 id="featured-projects" class="title text-xl">Featured Projects</h2>
		<FeaturedProjects projects={featuredProjects} />
		<p>
			<a
				href="/projects"
				aria-label="View all projects"
				class="group sm:hover:text-accent"
				data-astro-prefetch
			>
				<span>View All Projects</span>
				<Icon
					class="ms-0.5 inline-block h-4 w-4 -translate-y-[0.05rem] transition-transform group-hover:translate-x-1.5 sm:group-hover:text-accent"
					name="ri:arrow-right-line"
					aria-hidden="true"
					focusable="false"
				/>
			</a>
		</p>
	</section>

	<section aria-label="Blog post list" class="mt-12 space-y-8">
		<h2 class="title text-xl">Most Recent Posts</h2>
		<ul class="space-y-4 sm:space-y-6">
			{
				allPostsByDate.map((p) => (
					<li class="group flex flex-col gap-2">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
		<p>
			<a
				href="/posts"
				aria-label="View all blog posts"
				class="group sm:hover:text-accent"
				data-astro-prefetch
			>
				<span>Read All Posts</span>
				<Icon
					class="ms-0.5 inline-block h-4 w-4 -translate-y-[0.05rem] transition-transform group-hover:translate-x-1.5 sm:group-hover:text-accent"
					name="ri:arrow-right-line"
					aria-hidden="true"
					focusable="false"
				/>
			</a>
		</p>
	</section>
	<!-- <section class="mt-16">
		<h2 class="mb-4 text-xl title">Technologies</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				otherProjects.map(({ links, title, description }) => (
					<li>
						<a
							href={links.demo || links.github}
							target="_blank"
							rel="noopener noreferrer"
							class="inline-block cactus-link"
						>
							{title}
						</a>
						:<p class="inline-block sm:mt-2">{description.slice(0, 10)}</p>
					</li>
				))
			}
		</ul>
	</section> -->
</PageLayout>
