---
import { Icon } from "astro-icon";

/** 
	Uses https://github.com/natemoo-re/astro-icon#readme
	Find icons @ https://icones.js.org/
*/
const socialLinks: Array<{
	name: string;
	friendlyName: string;
	link: string;
	isWebmention?: boolean;
}> = [
	{
		name: "mdi:github",
		friendlyName: "GitHub",
		link: "https://www.github.com/justine-george/",
	},
	// {
	// 	name: "mdi:floppy",
	// 	friendlyName: "Tab Keeper Chrome Extension",
	// 	link: "https://chromewebstore.google.com/detail/tab-keeper-chrome-tab-man/gpibgniomobngodpnikhheifblbpbbah?ref=portfolio",
	// },
	{
		name: "mdi:linkedin",
		friendlyName: "LinkedIn",
		link: "https://www.linkedin.com/in/justine-george/",
	},
	{
		name: "mdi:email",
		friendlyName: "Email",
		link: "mailto:justine.george.work@gmail.com",
		isWebmention: true,
	},
	{
		name: "mdi:calendar",
		friendlyName: "Calendly",
		link: "https://calendly.com/jgeorge-dev/coffee-chat",
	},
	{
		name: "mdi:twitter",
		friendlyName: "Twitter",
		link: "https://twitter.com/jgeorge____",
	},
];
---

<div class="flex flex-wrap items-end items-center
gap-x-4">
	<p>Find me on</p>
	<ul class="flex flex-1 items-center gap-x-2 sm:flex-initial">
		{
			socialLinks.map(({ link, name, friendlyName, isWebmention }) => (
				<li class="flex">
					<a
						class="inline-block p-1 sm:hover:text-link"
						href={link}
						target="_blank"
						rel={`noopener noreferrer ${isWebmention ? "me authn" : ""}`}
					>
						<Icon class="h-6 w-6" name={name} aria-hidden="true" focusable="false" />
						<span class="sr-only">{friendlyName}</span>
					</a>
				</li>
			))
		}
	</ul>
</div>
